.chat-list {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 100vh;
	margin-left: 80px;
	padding: 0 20px;
	background-color: #eaebec;
	border-right: 1px solid #d1d7db;
	overflow-x: auto;
	
	.chat-list__items {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.chat-list__item {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 20px;
		padding: 5px 20px;
		background: white;
		border-bottom: 0.5px solid #d1d7db;
		cursor: pointer;
		&:hover {
			background-color: #EFF2F5;
		}
	}
}

