.chat-active {
	position: absolute;
	right: 0;
	top: 0;
	width: calc(100% - 480px);
	height: 100%;
	background-color: #efece4;

	&__wrapper {
		height: 100vh;
		display: grid;
		grid-template-rows: 68px 1fr auto;
	}

	.title {
		margin: 0;
		background-color: #eff2f5;
		padding: 20px;
	}
}
