

@media (max-width: 900px) {
    .side-panel {
        display: none;
    }
    .chat-list {
        margin: 0;
        width: 100%;
        height: auto;
    }

    .chat-active {
        position: relative;
        width: 100%;
        height: auto;
    }

    .app {
        display: flex;
        flex-direction: column;
    }
}